n8n-chatbot-workflow.json
{
  "name": "Portfolio Grok AI Agent (Calendar & Email)",
  "nodes": [
    {
      "parameters": {
        "path": "portfolio-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e8a1b2c3-1111-4fa3-b123-5e9a3b2b9a1a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "PORTFOLIO-AI-WEBHOOK"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres el asistente A.I. oficial de Juan Esteban Ospina, un Ingeniero de Software experto en integraciones n8n y Backend. Estás impulsado por Grok (xAI).\n\nOBJETIVOS:\n1. Responder preguntas sobre el portafolio, precios y servicios de Juan Esteban.\n2. AGENDAR REUNIONES: Tienes acceso a Google Calendar. Si el usuario desea agendar, pregúntale nombre, correo, fecha y hora, y usa la herramienta Calendar para crear el evento.\n3. ENVIAR CORREOS: Tienes acceso a enviar correos. Si el usuario quiere dejar un mensaje formal, enviarle una cotización, o comunicarse, pídeles su correo y usa la herramienta Email para enviárselo al usuario y copiar a Juan (jeom.245@gmail.com).\n\nTono: Altamente profesional, rápido y preciso."
        }
      },
      "id": "f5d7c8e9-2222-4a12-8888-abcdef123456",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "model": "grok-beta",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "xai-lm-node-9999",
      "name": "xAI (Grok) Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXai",
      "typeVersion": 1,
      "position": [
        460,
        500
      ],
      "credentials": {
        "xAiApi": {
          "id": "YOUR_XAI_CREDENTIAL_ID",
          "name": "xAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "start": "={{ $fromAI('start_time') }}",
        "end": "={{ $fromAI('end_time') }}",
        "title": "={{ $fromAI('event_title', 'Reunión con Juan Esteban') }}",
        "options": {
          "attendees": [
            "={{ $fromAI('user_email') }}"
          ]
        }
      },
      "id": "calendar-tool-node",
      "name": "Google Calendar Tool",
      "type": "@n8n/n8n-nodes-langchain.toolGoogleCalendar",
      "typeVersion": 1.1,
      "position": [
        620,
        500
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GCAL_CREDENTIAL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('user_email') }}",
        "subject": "={{ $fromAI('email_subject', 'Contacto desde el Portafolio de Juan') }}",
        "message": "={{ $fromAI('email_body') }}",
        "options": {
          "ccList": "jeom.245@gmail.com"
        }
      },
      "id": "gmail-tool-node",
      "name": "Gmail Tool",
      "type": "@n8n/n8n-nodes-langchain.toolGmail",
      "typeVersion": 2,
      "position": [
        780,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "reply",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-3333-4cdf-9876-123456abcdef",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI (Grok) Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "grok-advanced-agent-v1",
  "id": "Grok-AI-Agent-Template",
  "tags": []
}